body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    /* background : linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}
#start,#restart,#reload{
    cursor:pointer;
}
h2{
    margin: 0;
}
.winner{
    height:50px;
    width:500px;
    font-size: 3rem;
    font-style: oblique;
    text-align: center;
    margin : 20px 30px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:90px;
    width: 300px;
}

#board{
    background-image: url(./board.jpg) ;
    background-size: 100%;
    margin: 60px 40px;
    width:500px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box{
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.won{
    animation: winner .8s  ease-in-out forwards;
}
@keyframes winner {
    to{
        scale: 3;
        color: red;

    }
}
@media (max-width:500px) {
    #board{
        width: 100%;
    }
}